@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary: #212529;
  --secondary: #3A4651;
  --third-one: #6C6E71;
  --main-white: #F8EDEB;
}

body{
  margin: 0em !important;
  padding: 0em !important;
  overflow-x: hidden;
  background-color: var(--main-white) !important;
}

/*FONTS STYLES*/
.primary-color{
  color: var(--primary) !important;
}

.secondary-color{
  color: var(--secondary);
}

.third-one-color{
  color: var(--third-one);
}

.main-white{
  color: var(--main-white) !important;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify !important;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* BACKGROUNDS */
.primary-background{
  background-color: var(--third-one) !important;
}

.secondary-background{
  background-color: var(--secondary);
}

.third-one-color-background{
  background-color: var(--third-one);
}

.white-background{
  background-color: var(--main-white) !important;
}

/* BORDERS */
.primary-border{
  border: 3px solid var(--primary) !important;
}

.secondary-border-slim{
  border: 2px solid var(--secondary) !important;
}

.third-one-border{
  border: 4px solid var(--secondary) !important;
}

/* BUTTONS & PILLS */
.disabled-pill{
  width: auto;
  padding: 1% 1.5%;
  color: var(--secondary);
  background-color: var(--main-white);
  border-radius: 15px;
  border: 3px solid var(--secondary);
}

.dark-button{
  width: auto;
  padding: 1.5% 3%;
  margin-top: 5% !important;
  text-decoration: none;
  color: var(--secondary);
  background-color: var(--main-white);
  border-radius: 8px;
  border: 2px solid var(--third-one);
}

.dark-button:hover{
  text-decoration: none;
  color: var(--main-white);
  background-color: var(--secondary);
  border-radius: 8px;
  border: 1px solid var(--secondary);
}

/* Rewrited Styles */
.text-justify{
  text-align: justify !important;
}

.text-right{
  text-align: right !important;
}

.navbar-toggler-icon {
  filter: brightness(0) saturate(100%) invert(96%) sepia(2%) saturate(850%) hue-rotate(319deg) brightness(104%) contrast(99%) !important;
}

.nav-link{
  color: var(--primary) !important;
  font-weight: 500 !important;
  background-color: var(--main-white) !important;
  border-color: var(--primary) !important;
}

.nav-link:hover{
  color: var(--main-white) !important;
  background-color: var(--primary) !important;
}

button.active{
  color: var(--main-white) !important;
  background-color: var(--primary) !important;
}

.menu-nav-link{
  margin: 0px 1rem;
  color: var(--primary);
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.menu-nav-link:hover{
  color: var(--third-one);
  transform: translateY(-8px);
}

.custom-border-end {
  border-right: 3px solid var(--secondary) !important;
}

/* SIZES */
.width-30{
  width: 30% !important;
}

.width-15{
  width: 15% !important;
}

.margin-top-10{
  margin-top: 10% !important;
}

/*FILTERS*/
.white-filter{
  filter: brightness(0) saturate(100%) invert(100%) sepia(90%) saturate(256%) hue-rotate(342deg) brightness(113%) contrast(99%);
}

/* LINKS */
.icon-link {
  transition: transform 0.3s ease-in-out;
  filter: brightness(0) saturate(100%) invert(11%) sepia(2%) saturate(2845%) hue-rotate(140deg) brightness(96%) contrast(89%)
}

.icon-link:hover{
  transform: translateY(-8px);
  filter: brightness(0) saturate(100%) invert(44%) sepia(1%) saturate(1376%) hue-rotate(176deg) brightness(97%) contrast(95%)
}